node_modules
npm-debug.log
coverage
libraries/
# Exclude compiled files
build
dist
lib
.project

# Exclude IDE project folders
.idea
*.sublime-project
*.sublime-workspace

# OS files
.DS_STORE
.env

# Logs
logs
*.log